/* Add this CSS to style your navbar */
.navbar {
    background-color: #fff;
    padding: 10px 0;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-brand {
    font-weight: bold;
    color: #333;
    text-decoration: none;
  }
  
  .navbar-nav {
    list-style: none;
    display: flex;
  }
  
  .nav-item {
    margin-right: 15px;
  }
  
  .nav-link {
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .nav-link:hover {
    color: #666;
  }
  